<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIWebViewBounce</key>
	<false/>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>SplashImage</key>
	<string>Splash</string>
	<key>ShowStatusbarSpinner</key>
	<false/>
	<key>ShowScreenSpinner</key>
	<true/>
	<key>ScreenSpinnerImages</key>
	<array>
		<string>status1.png</string>
		<string>status2.png</string>
		<string>status3.png</string>
		<string>status4.png</string>
		<string>status5.png</string>
		<string>status6.png</string>
		<string>status7.png</string>
		<string>status8.png</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>Preferences</key>
		<string>RTPreference</string>
		<key>Push</key>
		<string>RTPush</string>
		<key>IndexedDB</key>
		<string>RTIndexedDB</string>
		<key>Logger</key>
		<string>RTLogger</string>
		<key>Compass</key>
		<string>CDVLocation</string>
		<key>Accelerometer</key>
		<string>RTAccelerometer</string>
		<key>Camera</key>
		<string>CDVCamera</string>
		<key>NetworkStatus</key>
		<string>RTConnection</string>
		<key>Calendar</key>
		<string>RTCalendar</string>
		<key>Contacts</key>
		<string>RTContacts</string>
		<key>Debug Console</key>
		<string>RTDebugConsole</string>
		<key>File</key>
		<string>RTFile</string>
		<key>FileTransfer</key>
		<string>RTFileTransfer</string>
		<key>Geolocation</key>
		<string>CDVLocation</string>
		<key>Notification</key>
		<string>CDVNotification</string>
		<key>Media</key>
		<string>RTSound</string>
		<key>Capture</key>
		<string>RTCapture</string>
		<key>SplashScreen</key>
		<string>RTSplashScreen</string>
		<key>Battery</key>
		<string>RTBattery</string>
		<key>Messaging</key>
		<string>RTMessaging</string>
		<key>Vibrate</key>
		<string>RTVibrate</string>
		<key>DeviceInteraction</key>
		<string>RTVibrate</string>
		<key>TemperatureSensor</key>
		<string>RTTemperatureSensor</string>
		<key>PressureSensor</key>
		<string>RTPressureSensor</string>
		<key>HumiditySensor</key>
		<string>RTHumiditySensor</string>
		<key>LightSensor</key>
		<string>RTLightSensor</string>
		<key>ProximitySensor</key>
		<string>RTProximitySensor</string>
		<key>DeviceStatus</key>
		<string>RTDeviceStatus</string>
		<key>ChildBrowser</key>
		<string>RTChildBrowserCommand</string>
		<key>ScreenShot</key>
		<string>RTScreenShot</string>
		<key>LocalNotification</key>
		<string>RTLocalNotification</string>
		<key>AppLauncher</key>
		<string>RTAppLauncher</string>
		<key>PageLoading</key>
		<string>RTPageLoading</string>
		<key>Bluetooth</key>
		<string>RTBluetooth</string>
	</dict>
	<key>InstalledApplications</key>
	<array>
		<string>music</string>
		<string>sms</string>
		<string>mailto</string>
		<string>videos</string>
	</array>
</dict>
</plist>
